# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env*
!.env.example

# Models & Trainers
# outputs/ # Allow tracking of outputs for CD
checkpoint-*/
wandb/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/